body {
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    /* 해상도 흐림 방지 설정 */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border: 4px solid #000;
}